cmake==3.12.0

docker==4.3.1

fastai==1.0.61

fast-bert==1.9.1

Flask==1.1.2

googletrans==3.0.0

jupyter==1.0.0

matplotlib==3.2.2

numpy==1.18.5

pandas==1.0.5

Pillow==9.3.0

py-spy==0.3.3

python == 3.6.9

requests==2.23.0

spacy==2.2.4

tensorboard==2.3.0

torch==1.6.0+cu101

torchaudio==0.6.0

torchtext==0.7.0

torchvision==0.7.0+cu101

transformers==3.0.2

urllib3==1.24.3